<footer class="border-top">
  <div class="f-info">
    <span class="kanit-regular"> &copy; Wanderlust Pvt. Ltd.</span>&nbsp; &nbsp;
    <a href="/privacy">Privacy</a>&nbsp; &nbsp;
    <a href="/terms">Terms</a>&nbsp; &nbsp;
    <a href="/site">Sitemap</a>&nbsp; &nbsp;
    <a href="/details">Company details</a>&nbsp; &nbsp;
  </div>
  <div class="f-socials">
    <button type="button" class="btn">
      <i class="fa-solid fa-globe"></i> English(IN)
    </button>
    <button type="button" class="btn">&#8377; INR</button>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-square-instagram"></i>
  </div>
</footer>
